body {
    background-color: #1E2329;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.adminContainer {
    display: flex;
}

#left {
   /* border: 1px solid green;*/
    width: 20%;
    height: 100vh;
    background-color: #fff;
    padding: 20px 20px;
    position: fixed;
    top: 0;
    overflow-y: scroll;
}

#functions {
    height: auto;
}

#right {
   /* border: 1px solid red;*/
    width: 75%;
    position: absolute;
    top: 0;
    right: 0;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
}

#addUserForm {
    display: none;
    border: 1px solid green;
    position: absolute;
    left: 0;
    top: 30px;
    background-color: #fff;
    padding: 10px;
}

#connectForm {
    display: none;
    border: 1px solid green;
    position: absolute;
    left: 0;
    top: 50px;
    background-color: #fff;
    padding: 10px;
}

.titleForm p {
    padding: 0; margin:0;
    width: auto;
}
 

form {
    margin-top: 10px;
}

.titleForm {
      display: flex;
      justify-content: space-between;
}

.article {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 10px;
    margin-top: 20px
}

article {
    width: 300px;
    height: auto;
}       

article img {
    width: 100%;
}

.text {
    text-align: justify;
    text-justify: inter-word;
    font-size: 0.7rem;
}

/*-----------------------*/

.hidden {
    display: none;
}

.deleteButton {
    opacity: 0;
    position: absolute !important;
    z-index: 999;
    width: 160px !important;
    cursor: pointer;
}

textarea {
    width: 319px;
    height: 150px;
}

input[type='submit'] {
    background-color: #BE4C45;
    color: #fff;
    padding: 10px;
    border: 0;
}

.fa-pencil-alt, .fa-trash-alt {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.hiddenFormCat {
    display: none;
}

.deleteCat {
    position: absolute;
    z-index: 999;
    width: 30px;
    opacity: 0;
    height: 10px;
}

form.deleteCatForm {
    width: 40px;
    margin: 0 !important;
    padding: 0 !important;
}









